@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Homepage!<br />The current Time is: </h1>
    <p><h3>@(DateTime.Now);</h3></p>      
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <footer> Scripted by Tamara Iloka &copy; 2023 </footer>
</div>
